@import url('https://fonts.googleapis.com/css2?family=Copse&family=Gabriela&family=IM+Fell+French+Canon+SC&family=Inknut+Antiqua:wght@300&display=swap');

h1 {
    font-family: Cinzel Decorative ;
    font-weight: bolder;
}

h2 {
    font-family: Gabriela;
    font-weight: 100;
}

h3 {
    font-family: Gabriela;
}

.blue {
    color: #206c99;
    font-weight: 900;
    font-size: x-large;
    font-family: Gabriela;
}


p {
    font-family: Gabriela;
}

.code-block {
    width: 50vw;
    overflow: scroll;
    white-space: nowrap;
}